body {
  background-repeat: no-repeat;
  background-position: center;
}

header {
  background: #008b8b;
}

.nav-link {
  background: #008b8b;
}

.highlight {
  margin-top: 50px;
  margin-bottom: 50px;
}

.batter {
  margin-bottom: 50px;
}

.pitcher {
  margin-bottom: 100px;
}
